body, html{height:100%}

.services .card{
	border: 1px solid rgba(0,0,0,0.085);
	border-radius: 1rem !important;
	-moz-border-radius: 1rem !important;
	-webkit-border-radius: 1rem !important;
}

.services .card .card-img-top, .services .card .card-header{
	border-top-right-radius: 1rem !important; 
	border-top-left-radius: 1rem !important;
	-webkit-border-top-right-radius: 1rem !important; 
	-webkit-border-top-left-radius: 1rem !important;
	-moz-border-top-right-radius: 1rem !important; 
	-moz-border-top-left-radius: 1rem !important;
}

.vm-sidebar{
	background-color: #f7f7fc !important;
	min-height: 800px !important;
	max-width: 350px !important;
	padding: 55px 5px 25px 15px !important;
}

@media (max-width: 576px){
	.vm-sidebar{
		max-width:80px !important;
		overflow:hidden;
		-webkit-transition: width 1s ease-in-out;
		-moz-transition: width 1s ease-in-out;
		-o-transition: width 1s ease-in-out;
		transition: width 1s ease-in-out;
	}
	
	.vm-sidebar aside ul li span{display:none; !important;}
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb li {display: inline-block;}
.breadcrumb li a{font-weight:400 !important; margin-right:4px !important;}
.active1 a{color:green !important; border-bottom:3px solid green !important;}
.active1 a:hover{color:#000 !important;}
.muted1 a{color:#aaa !important;}
.muted1 a:hover{color:#000 !important;}

.vm-circle{
	width:20px;
	height:20px;
	cursor: pointer;
}